@import url("https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.2/gh-fork-ribbon.min.css");

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #7a9d96;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  width: 100%;
}

h1,h2 {
  text-align: center;
  margin-bottom: 2em;
}

footer {
  text-align: center;
  margin-top: 5em;
  color: #fff;
}

footer a, footer a:visited {
  color: #00303f;
  text-decoration: none;
}


.scene {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

.choices {
  display: flex;
  justify-content: space-between;
}

.choice {
  background: #fff;
  transition: background 600ms ease-in;
  /* border: 1px solid black; */
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  padding: 2em;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.choice:hover {
  background: #CAE4D8;
}

.choice img {
  width: 150px;
  height: 150px;
}

.choice span {
  margin-top: 1em;
}

.choice span {
  font-size: 1.3em;
  font-weight: 425;
}

.github-fork-ribbon:before {
  background: #00303f;
}